$primary-red-raw: 0deg 78% 62%;
$primary-red: hsl($primary-red-raw);
$primary-cyan-raw: 180deg 62% 55%;
$primary-cyan: hsl($primary-cyan-raw);
$primary-orange-raw: 34deg 97% 64%;
$primary-orange: hsl($primary-orange-raw);
$primary-blue-raw: 212deg 86% 64%;
$primary-blue: hsl($primary-blue-raw);
$neutral-very-dark-blue: hsl(234deg 12% 34%);
$neutral-grayish-blue: hsl(229deg 6% 66%);
$neutral-very-light-gray: hsl(0deg 0% 98%);
$neutral-white: hsl(0deg 0% 100%);
$neutral-black: hsl(0deg 0% 0%);
