@import '/node_modules/modern-css-reset/dist/reset.min.css';

////////////////////////////////////////////
// RESET
////////////////////////////////////////////

* {
  box-sizing: border-box;
}

/* stylelint-disable-next-line no-descending-specificity */
a {
  color: inherit;
  text-decoration: none;
}
