$primary-dark-cyan: hsl(158deg 36% 37%);
$primary-dark-cyan-darker: hsl(156deg 42% 18%);
$primary-cream: hsl(30deg 38% 92%);
$neutral-very-dark-blue: hsl(212deg 21% 14%);
$neutral-dark-grayish-blue: hsl(228deg 12% 48%);
$neutral-white: hsl(0deg 0% 100%);
