@use 'sass:math';

$base-font-size: 14px;

@mixin size-weight-style($size: $base-font-size, $weight: 400) {
  font-size: rem($size);
  font-weight: $weight;
}

// weight 700
@mixin fraunces($size: $base-font-size) {
  font-family: Fraunces, serif;
  font-variation-settings:
    'SOFT' 50,
    'WONK' 0;
  font-optical-sizing: auto;
  font-style: normal;

  @include size-weight-style($size, 700);
}

// weight 500, 700
@mixin montserrat($size: $base-font-size, $weight: 500) {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  @include size-weight-style($size, $weight);
}

@function rem($size) {
  @return math.div($size, $base-font-size) * 1rem;
}
